{% extends 'layouts/base.html' %}
{% block head %}
<h1> UrgiCon </h1>
        <h2> Considering an ER visit? Use our form below and save. </h2>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if not initial %}
        </br>
            {% if dx > 4 %}
                <h1> DIAL 911 IMMEDIATELY! GO TO THE E.R.! </h1>
            {% elif dx == 4 %}
                <h1> Drive to the ER - call 911 if unable. </h1>
            {% elif dx == 3 %}
                <h1> Go to Urgent Care. </h1>
            {% elif dx == 2 %}
                <h1> Schedule an appointment with your doctor. </h1>
            {% elif dx < 2 %}
                <h1> It's probably nothing. </h1>
            {% endif %}
        </br>
        {% endif %}

        <form method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-group">
                {% for field in form %}
                    {{field.description}}
                    {{field}}
                    <br>
                {% endfor %}
            </div>
            <input type="submit" value="Get Results">
        </form>
    </div>
{% endblock %}
